body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
}
a {
	text-decoration: none;
	color: black;
	border: 0;
}
a:hover {
	color: #999;
}

/* menubar */
ul, li {
    list-style: none;
}
#menubar {
    width: 100%;
    height: 10%;
    z-index: 1;
    background-color: #402a2c;
    color: white;
}
#menubar div {
    display: flex;
    width: 100%;
    height: 100%;
}
#menuber_1 {
    width: 200px;
    height: 100%;
    padding-left: 5%;
    line-height: 7rem;
}
#menuber_1 img {
    width: 80px;
    height: 100%;
}
#menuber_2 {
    width: 100%;
    height: 100%;
}
.ul_wrap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.ul_wrap > li {
    float: left;
    text-align: center;
    width: 130px;
    font-size: 18px;
}
.ul_wrap li:hover ul{
    display: block;
}
.ul_wrap2 {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #402a2c;
    width: 130px;
    padding: 22px 0 0 0;
    text-align: center;
    font-size: 16px;

}
.ul_wrap2 li:hover{
    color: #999;
}
.find_bt {
    padding: 10px 0;
}

/* map and cafe list */
#Wrap {
    display: flex;
    width: 100%;
	height: 100%;
}
#map {
    flex: 0.7;
	width: 100%;
	height: 90%;
}
#kokode_bt div{
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    display: inline;
    padding: 10px 20px;
    border-radius: 2rem;
    border: 2px solid #999;
    background-color: white;
}
#cafe_list {
    flex: 0.3;
    width: 100%;
    height: 90%;
}
#cafe_list > div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#cafe_list > div > div{
    /* background-color: white; */
    background-color: #473a3ad3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cafe_slide {
    width: 95%;
    height: 110px;
    margin: 10px 0;
    background-color: #453c3c;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    transition: background-color 1s, color 1s;
}
.cafe_slide > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.cafe_slide div img {
    padding: 5px;
    width: 100px;
    height: 100px;
}
.cafe_slide:hover {
    color: black;
    background-color: rgb(222, 221, 221);
    border-color: rgb(222, 221, 221);
    transition: background-color 0.5s, color 0.5s;
}
.cafe_name {
    margin: 0;
}
.cafe_name:hover {
    cursor: pointer;
}
/* modal */
.modal {
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.709);
}
.modal_body {
    width: 70%;
    height: 60%;
    background-color: white;
    margin: 15px;
}
.exit_bt {
    float: right;
    border: 0;
    margin-right: 5px;
    font-size: 16px;
    color: white;
    background-color: #5d5151;
}
.exit_bt:hover {
    cursor: pointer;
}
.modal_title {
    padding-top:2%;
    text-align: center;
    width: 100%;
    height: 8%;
    font-size: 20px;
    font-weight: bold;
    background-color: #5d5151;
    color: white;
}
.modal_title_under {
    display: flex;
    width: 100%;
    height: 90%;
}
#misenai {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#misenai img {
    width: 100px;
    height: 100px;
}
.modal_info_wrap {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 98%;
    padding: 1%;
}
.modal_img {
    width: 100%;
    height: 80%;
}
.modal_img img {
    width: 100%;
    height: 100%;
}
.modal_url {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
}
.modal_url div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    background-color: #5d51517f;
}
.modal_url_a:hover {
    color: white;
}
.modal_info {
    width: 70%;
    height: 98%;
    background-color: red;
}

/* marker */
.marker {
    background-image: url('../img/coffee.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
    .mapboxgl-popup {
    max-width: 200px;
}
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
